.updated-course-banner{
    width: 100vw;
    background-image:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.7)),
     url(https://eduon-beta.vercel.app/images/datascience.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    height: 500px;
    color: white;
}
.updated-course-banner h2{
    padding-left: 96px;
}
.updated-course-banner>div>p:first-child{
    padding: 150px 0 0 96px;
}
.updated-course-banner>div>p>a,
.updated-course-banner>p>details{
    padding:0 10px;
    cursor: pointer;
}
.updated-course-banner>div>p:last-child{
    padding: 30px 0 0 96px;
}

.dsov4p-flex{
    width: 66%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit ,minmax(200px,1fr));
    margin: 50px auto;
    border: 1px solid rgba(128, 128, 128, 0.274);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.137);
}
.dsov4p-items{
    padding:0 20px ;
    margin: 20px 0;
    border-right: 1px solid rgba(128, 128, 128, 0.315);
    padding-right: 20px;
}
.dsov4p-items:last-child{
     border-right:none;
     
}
.dsov4p-items>h3{
    font-weight: 550;
    font-size: larger;
    color: rgb(70, 70, 70);
    padding-bottom: 10px;
}
.dsovpara-datails{
    width: 66%;
    margin: auto;
    padding-bottom: 50px;
}
.dsovpara-datails li{
    list-style-type: disc;
}
.dsovpara-datails>h2{
    font-size: xxx-large;
    padding: 20px 0 30px 0;
    color: rgb(70, 70, 70);
}
.dsovpara-datails>h3{
    font-size: larger;
    padding: 30px 0 7px 0;
    color: rgb(70, 70, 70);
    font-weight: 450;
}
.dsovpara-datails>p,
.dsovpara-datails li {
    color: rgb(99, 99, 99);

}
.dsov-certifi{
     background-color: rgba(128, 128, 128, 0.274);
}
.dsov-certifi>div{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 50px;
}
.dsov-certifi h3{
    font-weight: 450;
    color: rgb(70, 70, 70);
    font-size: larger;
}
.dsov-certifi p{
    color: rgb(99, 99, 99);
}
.dsov-certifi>div:last-child{
    align-items: center;
}
.dsov-certifi>div>div{
    width: 50%;
}





/* For max resolutions */
/* For max resolutions */
/* For max resolutions */

@media all and (min-width:1921px){
    .dsov-certifi>div {
        width: 1400px;
    }
    .dsovpara-datails,
    .dsov4p-flex{
        width: 1250px;
    }
    .updated-course-banner>div 
    {
        width: 1400px;
        margin: auto;
    }
}

@media all and (max-width:1000px) {
    .dsov4p-flex{
        width: 90%;
        margin:40px auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .dsov4p-items:nth-child(3){
        border-right:none;
    }
    .updated-course-banner{
        height: fit-content;
    }
    .updated-course-banner>div>p:last-child{
        padding: 20px 20px 30px 20px;
        text-align: justify;
    }
    .updated-course-banner>div>p:first-child{
        padding: 150px 0 0 20px;

    }
    .updated-course-banner h2{
        padding-left: 20px;
    }
    .dsovpara-datails{
        width: 90%;
    }
    .dsovpara-datails>h2{
        font-size: xx-large;
    }
    
    
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  React couse page  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  React couse page  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  React couse page  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  React couse page  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  React couse page  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  React couse page  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.reat-main-cntnt{
    width:80%;
    margin:auto;
}






.reat-crse-banner{
    background-size: cover;
    background-position: center;
    height: 480px;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
}
.reat-crse-banner-cntnt{
    padding-top: 128px;
    width: 60%;
    padding-left: 180px ;


}

.reat-crse-banner a{
    padding-right: 10px;
}
.reat-crse-banner a:last-of-type{
    padding-left: 10px;
}


.crse-reatpg-art-comn{
    padding: 30px 0;
    margin: 50px 0;
    width: 66.6%;
}

.crse-reatpg-art-comn h3{
    font-size: larger;
    padding: 0px 0 20px 0;
    color: rgb(70, 70, 70);
    font-weight: 450;
}
.crse-reatpg-art-comn p{
    color: rgb(99, 99, 99);
}
.reatpg-art1-pont>p{
    padding: 10px 0;
}
.reatpg-detsum-sub{
    padding:10px 0 10px 30px;
}
.reatpg-detsum-sub01{
    padding:10px 0 10px 30px;
}

.reat-crse-mul-vdo{
    background-color:#f3f4f6;
    border-radius: 8px;
    padding-left: 20px;

}

.reat-slide-vdo{
    border: 2px solid rgb(2, 2, 2);
    border-radius: 8px;
    position: sticky;
    top: 150px;
    width: 25%;
    left: 70%;
    background-color: #fff;
    z-index: 1;

}
.reat-slide-vdo button{
    width: 70%;
    height: 40px;
    background-color: #ffb50765;
    border-radius: 5px;
    margin:20px 15%;
    transition: .3s ease;
}
.reat-slide-vdo button:hover{
    background-color: #ffb507fa;

}
.reat-slide-vdo:first-child{
    border-top-right-radius: 8px;
    overflow: hidden;
}


@media all and (min-width:1921px){
    .reat-main-cntnt{
        width:1400px;
    }
    .reat-crse-banner-cntnt{
        width: 1400px;

    }
}


@media all and (max-width:1000px){
    .reat-main-cntnt{
        width:90%;
    }
    .reat-crse-banner{
    position: relative;
    top: -650px;
    height: fit-content;
    }
    .reat-crse-banner-cntnt{
        padding-top: 100px;
        width: 90%;
        margin: auto;
        padding-left: 0 ;
        text-align: justify;
    
    }
    .reat-slide-vdo{
        position: relative;
        top: 550px;
        width: 70%;
        left: 15%;
        z-index: 1;
    
    }
    .reat-crse-banner-cntnt:last-child{
         padding-bottom: 40px;
    }
    .crse-reatpg-art-comn{
        padding: 30px 0;
        margin: 50px 0;
        width: 90%;
    }
}


@media all and (max-width:600px){
    .reat-main-cntnt{
        width:90%;
    }
    .reat-crse-banner{
    position: relative;
    top: -450px;
    height: fit-content;
    }
    .reat-slide-vdo{
        position: relative;
        top: 700px;
        width: 80%;
        left: 10%;
    }
    .reat-sl-vd-last{
        padding-left: 10px;
    }
    .reat-main-cntnt{
        margin-left: 10%;
    }
    .reat-crse-mul-vdo{
        padding: 20px;
    }


}